<div class="container">

  <h1 class="text-center display-3 fw-bold">To do list</h1>

  <p class="lh-base text-start">Bienvenido a este miniproyecto con una temática muy conocida. ¡Así es! Es un
    <strong>"To
      do list"</strong> que para el que no sepa, es una herramienta muy útil cuando necesitamos
    planificar y recordar los quehaceres que tenemos pendientes.
  </p>

  <form>
    <div class="container bg-light bg-gradient">
      <div class="row">
        <div class="col-6 my-2">
          <label for="inputTask4" class="form-label">Task (*)</label>
          <input id="inputTask" class="form-control" type="text" name="new-task" [(ngModel)]="inputTaskName"
            placeholder="New task" required>
        </div>
        <div id="alertContent"></div>
      </div>
      <div class="row">
        <div class="col-7 mb-2">
          <label for="inputDescription4" class="form-label">Description</label>
          <textarea class="form-control" type="text" name="new-task-description" [(ngModel)]="inputTaskDescription"
            placeholder="New description"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col my-2">
          <input class="btn btn-success" type="button" name="add-task-btn" value="New Task" (click)="onPressNewTask()">
        </div>
      </div>
    </div>
  </form>

  <div class="container">
    <div *ngIf="tasks.length==0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <p class="text-center">Aún no hay contenido. <strong>Añade algunas tareas</strong></p>
    </ng-template>
    <ng-template #elseBlock>
      <div class="row justify-content-center">
        <div class="col-5 my-2">
          <p><strong>Task</strong></p>
        </div>
        <div class="col-5 my-2">
          <p><strong>Actions</strong></p>
        </div>
      </div>

      <div id="taskContent">
        <div *ngFor="let task of tasks">
          <app-task [task]="task" [tasks]="tasks" (taskbarPercent)="taskbarPercentVal()"
            (taskToUpdate)="currentTaskEdit($event)" (taskToDelete)="pressDeleteCurrentTask($event)"></app-task>
        </div>
      </div>
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Tasks Nro. {{taskActual.id}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="container bg-light bg-gradient">
                  <div class="row">
                    <div class="col-6 my-2">
                      <label for="inputTask-edit" class="form-label">Task (*)</label>
                      <input id="inputTask-edit" class="form-control" type="text" name="inputTask-edit"
                        [(ngModel)]="taskActual.title" placeholder="Edit task" required>
                    </div>
                    <div id="alertContentEdit"></div>
                  </div>
                  <div class="row">
                    <div class="col-12 mb-2">
                      <label for="inputTaskDescription-edit" class="form-label">Description</label>
                      <textarea class="form-control" type="text" name="inputTaskDescription-edit"
                        [(ngModel)]="taskActual.description" placeholder="Edit description"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <input type="button" class="btn btn-primary" id="editTaskBtn" name="edit-task-btn" value="Save Changes"
                (click)="pressEditCurrentTask(taskActual.id)">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="progress" role="progressbar">
    <div class="progress-bar bg-success" [style]="'width:' + taskbarValue + '%'"></div>
  </div>



</div>